<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.common.mapper.centre.ChinaCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzh.common.pojo.centre.ChinaCity">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="cityname" property="cityname" />
        <result column="type" property="type" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, cityname, type, state
    </sql>

    <select id="getAllChinaCity" resultMap="BaseResultMap">
        select id, pid, cityname, type, state from china_city
    </select>
</mapper>
