<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.common.mapper.centre.SyncMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzh.common.pojo.centre.SyncMessage">
        <id column="id" property="id" />
        <result column="publish_date" property="publishDate" />
        <result column="message_type" property="messageType" />
        <result column="publisher_id" property="publisherId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, publish_date, message_type, publisher_id, start_time, end_time, remarks
    </sql>

</mapper>
